.dark-square{
  background-color: rgb(202, 125, 81);
}
.light-square{
  background-color: white;
}
.dark-square, .light-square {
  display: flex;
  justify-content: center;
  justify-items: center;
  position: relative;
}
.dark-square > img, .light-square > img {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.square-highlight {
  box-shadow: 0 0 0.2em 0.4em #c732e0 inset;
}

.inner-square {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color:rgba(160, 202, 81, 0.5);
}