#content {
    height: 90vh;
    background: linear-gradient(20deg, white 50%, lightblue 50%);
}

#content {
    padding: 30px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.login-button-container {
    margin: 20px auto;
}